{% extends "base.html" %}

{% block title %} Book a Table | Taverna {% endblock %}

{% block content %}
<!-- Masthead-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>

    $(function () {
        $(".datepicker").datepicker({
            minDate: 0,
            maxDate: "1w"
        });
    });
</script>
<section class="book-table-section">
    {% for message in messages %}
    <div>{% if message.tags %} class="{{ message.tags }} message-style" {% endif %}>{{ message }}</div>
    {% endfor %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white">Book Your Table!</h2>
                <hr class="divider" />
                <p class="mb-5 text-white">You can just cancel your appointment 24 before it</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form method="POST">
                    <div class="form-group row g-3 text-white-75">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <input type="submit" class="btn btn-primary btn-xl" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}